name: send_message docker image build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set subscription
        run: az account set --subscription "c230b498-50fc-49f6-83fc-5c85e96edf50"

      - name: Build & push in ACR
        run: |
          az acr build \
            -r bransonbergmannliatrio \
            -t get_message:${{ github.run_number }} \
            -t get_message:latest \
            .