name: function_check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-go@v5
      with: 
        go-version: "1.25.7"
    - name: Build
      run: go build -o app .
    - name: Permits binding to port 80
      run: sudo setcap 'cap_net_bind_service=+ep' ./app
      #So yes, I couldve changed the run to sudo ./app, but after a little research,
      #I found that (for obvious reasons), having the entire process run as root is
      # bad practice, and this line allows the app to bind to port 80 and can do nothing else
    - name: Start app
      run: |
        ./app > app.log 2>&1 &
    - name: Wait for app
      run: |
        for i in {1..30}; do
          curl -fsS http://127.0.0.1:80/ && exit 0
          sleep 1
        done
        echo "--- app.log ---"
        cat app.log
        exit 1
    - name: run tests
      uses: liatrio/github-actions/apprentice-action@0b41561cca6822cc8d880fe0e49e7807a41fdf91